body {
   margin: 0;
   padding: 0;
   font-size: 10px;
}
div {
   text-align: center;
   font-size: 2rem;
 
}
#header {
   border: 1px solid black;
   background: -webkit-linear-gradient(90deg, #2f3231,#727b7e,#c1b99a,#ffefad);
   background: linear-gradient(90deg, #2f3231,#727b7e,#c1b99a,#ffefad);
}
#body {
   border: 1px solid black;
   background: -webkit-linear-gradient(90deg, #daab6c,#a9f7b3);
   background: linear-gradient(90deg, #daab6c,#a9f7b3);
}
#footer {
   border: 1px solid black;
   background: -webkit-linear-gradient(90deg, #eff1af,#b95e5e,#802c23);
   background: linear-gradient(90deg, #eff1af,#b95e5e,#802c23);
}
#data {
   border: 1px solid black;
   background: -webkit-linear-gradient(90deg, #395492,#0099c0,#3dd5a8);
   background: linear-gradient(90deg, #395492,#0099c0,#3dd5a8);
}
#app {
   background: -webkit-linear-gradient(90deg, #e6ca3d,#f0e17f,#e5db66);
   background: linear-gradient(90deg, #e6ca3d,#f0e17f,#e5db66);
}
#app h4 {
   margin-top: 0;
}