body {
   display: flex;
   flex-wrap: wrap;
   font-size: 10px;
   background-color: black;
}
input {
   padding: 10px;
   width: 30%;
   font-size: 2rem;
   margin: 0 auto;
   margin-left: 32%; 
   margin-top: 10rem; 
   border: none;
   border-radius: 55px;
   background-color: #8BC6EC;
   background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
   color: #F7CE68;
   cursor: pointer;
   box-shadow: 0px 0px 40px 20px #8BC6EC ;

}