body {
   margin: 0;
   padding-left: 20%;

}
header {
   width: 800px;
   height: 200px;
   border: 5.5px solid red;
}
main {
   display: flex;
}
nav {
   width: 100px;
   height: 400px;
   border: 3px solid orange;
}
section {
   width: 700px;
   height: 400px;
   border: 3px solid orange;
   font-size: 40px;
   color: #833ab4;
}
footer {
   width: 800px;
   height: 200px;
   border: 5.5px solid grey;
}