body {
   margin: 0;
   padding: 0;
   font-size: 10px;
}

section {
   background-color: #8BC6EC;
   background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
   width: 60%;
   margin: 0 auto;

}

.name_surname {
   border: 2px solid black;
   font-size: 2rem;
   text-align: center;
   width: 60%;
   margin: 0 auto;
   background-color: #9599E2;
}

.list {
   border: 2px solid black;
   font-size: 1.5rem;
   width: 60%;
   margin: 10 auto;
   background-color: #9599E2;
}

.red {
   background-color: red;
}

.blue {
   background-color: blue;
}

.onmause {
   border: 2px solid black;
   font-size: 1.5rem;
   width: 60%;
   margin: 10 auto;
   background-color: #9599E2;
   height: 400px;
   text-align: center;
   font-weight: 700;
   text-decoration-line: underline;
   text-decoration-color: red;
}
.button_zone{
   border: 2px solid black;
   font-size: 1.5rem;
   width: 60%;
   margin: 10 auto;
   background-color: #9599E2;
   text-align: center;
   display: flex;
   justify-content: space-evenly;
  
}
button {
   display: inline-flex;
   margin: 10px;
   text-decoration: none;
   position: relative;
   font-size: 15px;
   line-height: 20px;
   padding: 10px 20px;
   color: rgb(165, 32, 32);
   font-weight: bold;
   text-transform: uppercase;
   font-family: 'Roboto Condensed', Тahoma, sans-serif;
   background: #9599E2;
   cursor: pointer;
   border: 4px solid #0d6ab6;
   overflow: hidden;
   z-index: 1;
   transition: all 1s;
}
button:hover,
button:active,
button:focus {
   color: #FFF;
}
button:before,
button:after {
   content: '';
   position: absolute;
   top: 50%;
   width: 20px;
   height: 100%;
   background-color: #FFCC70;
   z-index: -1;
}
button:before {
   left: -20px;
   transform: translate(-50%, -50%);
}
button:after {
   right: -20px;
   transform: translate(50%, -50%);
}
button:hover:before,
button:active:before,
button:focus:before {
   animation: from-left 0.5s both;
}
button:hover:after,
button:active:after,
button:focus:after {
   animation: from-right 0.5s both;
}
@keyframes from-right {
   0% {
       right: -20px;
   }
   50% {
       right: 50%;
       width: 20px;
   }
   100% {
       right: 50%;
       width: 100%;
   }
}
@keyframes from-left {
   0% {
       left: -20px;
   }
   50% {
       left: 50%;
       width: 20px;
   }
   100% {
       left: 50%;
       width: 100%;
   }
}

.zone {
   border: 2px solid black;
   font-size: 1.5rem;
   width: 485px;
   height: 400px;
   margin: 10 auto;
   background-color: #9599E2;
   
}
.move_on {
   position: relative;
   width: 50px;
   height: 50px;
   border: 1px solid red;
   background-color: #FFCC70;
   cursor: pointer;
   transition: all 1.5s;
   border-radius: 10px;

}
.zone {
   transition: all 1.5s;
}
.button_color {
   border: 2px solid black;
   font-size: 1.2rem;
   width: 60.5%;
   text-align: center;
   margin: -10 auto;
   background-color: #9599E2;
   display: block;
   background-color: #FFCC70;
}
.input_color {
   border: 2px solid black;
   font-size: 1.5rem;
   width: 60.5%;
   margin: 10 auto;
   background-color: #9599E2;
   display: block;
}
.login {
   border: 2px solid black;
   font-size: 1.5rem;
   width: 30%;
   margin: 20 auto;
   background-color: #9599E2;
   display: block;
}
.clearlogin {
   border: 2px solid black;
   font-size: 1.5rem;
   width: 30%;
   margin: -20 auto;
   background-color: #9599E2;
   display: block;
}

.typetext {
   border: 2px solid black;
   font-size: 1.5rem;
   width: 50%;
   margin: 40 auto;
   background-color: #9599E2;
   display: block;
}
.showtext {
   border: 2px solid black;
   font-size: 1.5rem;
   width: 50%;
   margin: -40 auto;
   background-color: #9599E2;
   display: block;
}
.cleartext {
   border: 2px solid black;
   font-size: 1.5rem;
   width: 50%;
   margin: 40 auto;
   background-color: #9599E2;
   display: block;
}