body {
   margin: 0;
   padding: 0;
   font-size: 10px;
}






.black{
   background: black;
}
/* ПЕРВАЯ ЗАДАЧА ПО ТАЙМЕРУ */
.silver{
   background: rgba(88, 88, 88, .5);
   padding: 1.5rem;
   font-weight: bold;
   box-sizing: border-box;
   font-size: 2rem;
   margin-bottom: 1rem;
}
.red{
   background: rgba(231, 40, 40, 0.5);
   padding: 1.5rem;
   font-weight: bold;
   box-sizing: border-box;
   font-size: 2rem;
   margin-bottom: 1rem;
}
.green{
   background: rgba(39, 211, 76, 0.5);
   padding: 1.5rem;
   font-weight: bold;
   box-sizing: border-box;
   font-size: 2rem;
   margin-bottom: 1rem;
}
.container-stopwatch{
   
   width: fit-content;
   padding: 1rem;
   text-align: center;
   border-radius: .5rem;
   box-shadow: 0 0 10px black;
   margin-left: 40%;
}
.stopwatch-display{
   background: rgba(22, 97, 12, 0.5);
   padding: 1.5rem;
   font-weight: bold;
   box-sizing: border-box;
   font-size: 2rem;
   margin-bottom: 1rem;

}
.stopwatch-display span{
   font-size: 2rem;
}
.stopwatch-control button{
   text-transform: uppercase;
   color: white;
   background: rgba(0, 0, 0, 0.829);
   border: none;
   cursor:	pointer;
}
.stopwatch-control button:nth-child(2){
   margin: 0 .5rem;
}
/* ЗАДАЧА ПО ВВОДУ ТЕДЕФОНА */
.inputZone {
   width: 200px;
   padding: 5px;
   height: 30px;
   font-size: 1rem;
   border: 2px solid green;
   background-color: brown;
   margin-left: 40%;
   margin-top: 3rem;
}
.button {
   width: 150px;
   padding: 1px;
   height: 30px;
   font-size: 1.5rem;
   border: 2px solid green;
   background-color: rgb(129, 129, 129);
   margin-left: 43%;
   margin-top: 0.5rem;
   border-radius: 55px;
   cursor: pointer;
   
   
}
.error1 {
   width: 200px;
   padding: 5px;
   height: 30px;
   font-size: 2rem;
   border: 2px solid rgb(0, 0, 0);
   background-color: rgb(255, 0, 0);
   margin-left: 40%;
   margin-top: 3rem;
   text-align: center;
}
/* ТРЕТЬЯ ЗАДАЧА ПО АНИМАЦИИ */
.animationBox {
   width: 400px;
   height: 400px;
   border: 2px solid rgb(0, 0, 0);
   background-color: rgb(223, 186, 186);
   margin-left: 35%;
   margin-top: 3rem;
   background-size: cover;
   background-repeat: no-repeat;
   
}