.btn-wrapper{
   height: 60vh;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
}
.btn{
   border: none;
   border-radius: 20px;
   min-width: 120px;
   padding: 7px;
   color: #fff;
   font-size: 14px;
   background-color: #33333a;
   cursor: pointer;
}
.blue {
   border: 1px solid black;
   border-radius: 20px;
   min-width: 120px;
   padding: 8px;
   color: #fff;
   font-size: 14px;
   background-color: #0000ff;
   cursor: pointer;
}
.grey {
   border: none;
   border-radius: 20px;
   min-width: 120px;
   padding: 7px;
   color: #fff;
   font-size: 14px;
   background-color: #33333a;
   cursor: pointer;
}