main {
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
}
div {
   margin: 20px;
   border: 1px solid gold;
   text-align: center;
   background-color: rgba(170, 0, 0, 0.37);
}
button {
   background-color: rgb(17, 46, 211);
   color: white;
   cursor: pointer;
   transition: all 1s;
}

.name {
   font-size: 20px;
   background-color: gold;
   font-weight: 700;
}
.all {
   font-size: 15px;
   background-color: rgba(0, 0, 0, 0.226);
   font-weight: 700;

}
span {
   color: red;
}

.preloader {
   position: fixed;
   left: 0px;
   top: 0px;
   right: 0px;
   bottom: 0px;
   display: none;
   }